.header {
    margin: auto;
    text-align: center;
    background-image: linear-gradient(to right, magenta, black);
    border-radius: 20px;
    padding: 10px 0 10px 0;
}

ul{
    display: block;
}

li {
    display: inline-block;
    text-decoration: none;
    /*margin: 0 5px 0 5px;*/
}